<form autocomplete="off" #editOptionListItemsModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ titleService.getTitle() }}</h1>
    <mat-dialog-content style="width:800px;height:250px;">
      <mat-tab-group>
        <mat-tab [label]="'Option List Item Details' | localize">
          <br />
          <div class="row-fluid">
            <div class="col-md-6">
              
              <mat-form-field>
                <input
                  matInput
                  name="OptionListId"
                  [placeholder]="'Option List Id' | localize"
                  [(ngModel)]="optionListItem.optionListId"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  name="DisplayText"
                  [placeholder]="'Display Text' | localize"
                  [(ngModel)]="optionListItem.displayText"
                  required
                  maxlength="32"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  name="AdditionalInfo"
                  [placeholder]="'Additional Info' | localize"
                  [(ngModel)]="optionListItem.additionalInfo"
                  maxlength="128"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  name="DisplayOrder"
                  [placeholder]="'Display Order' | localize"
                  [(ngModel)]="optionListItem.displayOrder"
                  maxlength="50"
                />
              </mat-form-field>
              <div class="checkbox-wrapper">
                <mat-checkbox name="IsActive" [(ngModel)]="optionListItem.isActive">
                  {{ "IsActive" | localize }}
                </mat-checkbox>
              </div>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
      <button mat-button type="button" [disabled]="saving" (click)="close()">
        {{ "Cancel" | localize }}
      </button>
      <button
        mat-flat-button
        type="submit"
        flex="15"
        color="primary"
        [disabled]="!editOptionListItemsModal.form.valid || saving"
      >
        {{ "Save" | localize }}
      </button>
    </div>
  </form>
  